@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-lg;
    }

    h1, h2, h3 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl my-3;
    }

    h2 {
        @apply text-3xl mt-12 mb-6;
    }

    h3 {
        @apply text-2xl my-3;
    }

    p {
        @apply my-4;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    li {
        @apply ml-6 p-1;
    }

    hr {
        @apply my-4 border-gray-600;
    }

    blockquote {
        @apply px-4 italic opacity-80;
    }

    pre {
        @apply p-6 -mx-6 rounded-lg;
        background-color: #272822;
    }
}

.link-blue-underline a {
    @apply underline text-blue-500 cursor-pointer;
}

.language-gotemplate {
    color: whitesmoke;
}

.centered {
    @apply flex items-center justify-center;
}

.header-icons {
    @apply fill-current text-white hover:text-gray-200 transform hover:scale-110;
    height: 42px;
}

.square {
    aspect-ratio: 3/1;
}

.home-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    grid-gap: 8px;
    background-color: black;
}

@media screen and (min-width: 1024px) {
    .home-grid {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 2fr 0.5fr;
        grid-template-rows: 0.6fr 0.4fr 1fr 1.2fr;
        gap: 8px;
    }

    .square {
        aspect-ratio: auto;
    }

    .header-icons {
        height: 36px;
    }
}

.fun-reads {
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px dotted chartreuse;
    color: #fff;
    /*text-shadow: 2px;*/
    order: 5;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.fun-reads a {
    color: #fff;
}


.new-article {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: white;
    border: 1px dotted chartreuse;
    order: 2;
}

.content-listing {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
    border: 1px solid slateblue;
    order: 4;
}

.brule-head {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: teal;
    background-image: url("/images/hunks/sneaky-brule.png");
    background-blend-mode: color-dodge;
    background-size: cover;
    order: 1;
}

.brule-mouth {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: slateblue;
    background-image: url("/images/hunks/sneaky-brule-mouth.png");
    background-blend-mode: color-dodge;
    background-size: cover;
    order: 3;
}

.curtains {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #e74a22;
    background-image: url("/images/curtains-background.jpeg");
    background-size: cover;
    order: 4;
    max-height: 480px;
}

@media (min-width: 1023px) {
    .curtains {
        height: 414px;
    }
}

.rosebud {
    grid-column: 3/4;
    grid-row: 1/2;
    order: 10;
    background-image: url("/images/rosebud.jpeg");
    background-position: center;
    text-shadow: 2px;
}
