@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-lg;
    }

    h1, h2, h3 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl my-3;
    }

    h2 {
        @apply text-3xl mt-12 mb-6;
    }

    h3 {
        @apply text-2xl my-3;
    }

    p {
        @apply my-4;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    li {
        @apply ml-6 p-1;
    }

    hr {
        @apply my-4 border-gray-600;
    }

    blockquote {
        @apply px-4 italic opacity-80;
    }

    pre {
        @apply p-6 -mx-6 rounded-lg;
        background-color: #272822;
    }
}

@layer utilities {
    .square {
        aspect-ratio: 1/1;
    }
}

.link-blue-underline a {
    @apply underline text-blue-500;
}

.language-gotemplate {
    color: whitesmoke;
}

.centered {
    @apply flex items-center justify-center;
}

.header-icons {
    @apply fill-current text-white hover:text-gray-200 transform hover:scale-110;
    height: 36px;
}
