{{ define "main" }}
<main class="grid place-items-center min-h-screen bg-black text-white pt-6 pb-12">
  <h1 class="cover-heading">Howdy, I'm Mr. Alex.</h1>
  <img class="rounded-full h-80" src="/me0oh3.jpeg">
  <p class="text-2xl">
    I make web stuff, music...and occasionally emoji epics.
  </p>
  <h2 class="text-center text-3xl">
    εїз <br>
    ⌛♔♧ <br>
    (✿◠‿◠)
  </h2>
  <p class="text-2xl">
    Please find out more by visiting the following links.
  </p>
  <p class="lead" style="font-size:75px;">
    <a href="https://github.com/alexfinnarn" title="Github" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="http://www.linkedin.com/in/alexfinnarn" title="LinkedIn" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://medium.com/@alexfinnarn" title="Medium" target="_blank">
      <i class="fa fa-medium" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/alexfinnarn" title="Twitter" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </p>
</main>

{{ end }}
